@model IEnumerable<EventManagement.Application.Commmon.Models.UserDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        <span>@role</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Remove Basic Role", "RemoveRoleBasicFromUser", new { id = item.Id, roleName = "Basic" }) |
                    @Html.ActionLink("Remove Moderator Role", "RemoveRoleModeratorFromUser", new { id = item.Id, roleName = "Moderator" }) |
                    @Html.ActionLink("Add Basic Role ", "AddRoleBasicToUser", new { id = item.Id, roleName = "Basic" }) |
                    @Html.ActionLink("Add Moderator Role ", "AddRoleModeratorToUser", new { id = item.Id, roleName = "Moderator" })

                </td>
            </tr>
        }
    </tbody>
</table>
